/**********************************************
                 CONSTANTS
**********************************************/

* {
    -GRAY:#F1F1F1;

    -BLACK:#000000;
    -WHITE:#FFFFFF;

    -BLUE:#0188F3;
    -YELLOW:#ffd800;
    -GREEN:#00B040;
}


/**********************************************
                  BACKGROUND
**********************************************/

.chat-container {
    -fx-background-color: -WHITE;
}


.tile-yellow {
    -fx-background-color: -YELLOW;
}

.label {
    -fx-text-fill: -YELLOW;
}
