/**********************************************
                 CONSTANTS
**********************************************/

* {
    -BLACK:#000000;
    -WHITE:#FFFFFF;

    -BLUE:#0188F3;
    -YELLOW:#ffd800;
    -GREEN:#00B040;
}


/**********************************************
                 CONTROLS
**********************************************/

.tile{
    -fx-background-color: -WHITE;
}

.label {
    -fx-text-fill: -BLACK;
}

.counter_wifi {
    -fx-background-color: -YELLOW;
    -fx-text-fill: -BLACK;
}

.counter_bt {
    -fx-background-color: -BLUE;
    -fx-text-fill: -WHITE;
}

.counter_direct {
    -fx-background-color: -GREEN;
    -fx-text-fill: -BLACK;
}