/**********************************************
                 CONSTANTS
**********************************************/

* {
    -BLACK:#000000;
    -WHITE:#FFFFFF;

    -BLUE:#0188F3;
    -YELLOW:#ffd800;
    -GREEN:#00B040;
}


/**********************************************
                 CONTROLS
**********************************************/

.tile{
    -fx-background-color: -BlUE;
}

.label {
    -fx-text-fill: -WHITE;
}
