/**********************************************
                 CONSTANTS
**********************************************/

    * {
        -BLACK:#38003D;
        -WHITE:#FFFFFF;

        -BLUE:#0188F3;
        -BLUE_LITE:#499FF6;

        -YELLOW:#FEC106;
        -YELLOW_LITE:#ffff33;

        -GREEN:#00B040;
        -GREEN_LITE:#58FF40;
    }


/**********************************************
                  BACKGROUND
**********************************************/

.progressbar_wifi > .bar {
    -fx-background-color: transparent;
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.3em;
}

.progressbar_wifi > .track  {
    -fx-background-color: white;
    -fx-background-insets: 1 1 2 1;
}

.progressbar_wifi > .bar {
    -fx-background-color: #4d4d4d;
    -fx-background-insets: 1 1 2 1;
}

.progressbar_bt > .bar {
    -fx-background-color: transparent;
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.3em;
}

.progressbar_bt > .track  {
    -fx-background-color: #b3b3b3;
    -fx-background-insets: 1 1 2 1;
}

.progressbar_bt > .bar {
    -fx-background-color: white;
    -fx-background-insets: 1 1 2 1;
}

.progressbar_direct > .bar {
    -fx-background-color: transparent;
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.3em;
}

.progressbar_direct > .track  {
    -fx-background-color: #4d4d4d;
    -fx-background-insets: 1 1 2 1;
}

.progressbar_direct > .bar {
    -fx-background-color: white;
    -fx-background-insets: 1 1 2 1;
}




.background {
    -fx-background-color: -DARK;
}

.box-wifi-in {
    -fx-background-color: -YELLOW_LITE;
    -fx-background-radius : 7;
    -fx-border-radius : 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 0);
}

.box-wifi-out {
    -fx-background-color: -YELLOW;
    -fx-background-radius : 7;
    -fx-border-radius : 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 0);
}

.box-bt-in {
    -fx-background-color: -BLUE_LITE;
    -fx-background-radius : 7;
    -fx-border-radius : 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 0);
}

.box-bt-out {
    -fx-background-color: -BLUE;
    -fx-background-radius : 7;
    -fx-border-radius : 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 0);
}

.box-direct-in {
    -fx-background-color: -YELLOW_LITE;
    -fx-background-radius : 7;
    -fx-border-radius : 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 0);
}

.box-direct-out {
    -fx-background-color: -GREEN;
    -fx-background-radius : 7;
    -fx-border-radius : 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 0);
}



.data-wifi {
    -fx-text-fill: -BLACK;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.data-bt {
    -fx-text-fill: -WHITE;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.data-direct {
    -fx-text-fill: -BLACK;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


.time {
    -fx-text-fill: -BLACK;
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-font-weight: regular;
}
