/**********************************************
                 CONSTANTS
**********************************************/


* {
    -BLACK:#000000;
    -WHITE:#FFFFFF;

    -BLUE:#0188F3;
    -YELLOW:#ffd800;
    -GREEN:#00B040;
}



/**********************************************
                  BACKGROUND
**********************************************/

.background {
    -fx-background-color: -BLACK;
}

.tile-yellow {
    -fx-background-color: -WHITE;
}


/**********************************************
                  TEXT AREA
**********************************************/

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-line-spacing: 1em;

    -fx-box-border: none;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.viewport {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.content {
}

.text {
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;

    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.text-area .scroll-bar:vertical .track{
    -fx-background-color: -WHITE;
    -fx-background-radius: 0em;
}

.text-area .scroll-bar:vertical .thumb {
    -fx-background-color: #333333;
    -fx-border-color: -WHITE;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 1em;

}