/**********************************************
                 CONSTANTS
**********************************************/

* {
    -GRAY:#F1F1F1;
    -GRAY_LITE:#F8F8FF;

    -BLACK:#000000;
    -WHITE:#FFFFFF;

    -BLUE:#0188F3;
    -YELLOW:#ffd800;
    -GREEN:#00B040;
}



/**********************************************
                  BACKGROUND
**********************************************/

.background {
    -fx-background-color: -GRAY;
}


.input-line {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.title-bar {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}


/**********************************************
                 SCROLL PANE
**********************************************/

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: -WHITE;
    -fx-background-radius: 0em;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: -BLACK;
    -fx-border-color: -WHITE;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 1em;

}

/* The increment and decrement button CSS class of scrollbar */
.scroll-pane .scroll-bar:horizontal .increment-button ,
.scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.scroll-pane .scroll-bar:vertical .increment-button ,
.scroll-pane .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.scroll-pane  .scroll-bar .increment-arrow,
.scroll-pane  .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}
