/**********************************************
                 CONSTANTS
**********************************************/

* {
    -BLACK:#000000;
    -WHITE:#FFFFFF;

    -BLUE:#0188F3;
    -YELLOW:#ffd800;
    -GREEN:#00B040;
}


/**********************************************
                  BACKGROUND
**********************************************/

.background {
    -fx-background-color: -BLACK;
}

.tile_white {
    -fx-background-color: -WHITE;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
}

.tile_wifi {
    -fx-background-color: -YELLOW;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
}

.tile_bt {
    -fx-background-color: -BLUE;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
}

.tile_direct {
    -fx-background-color: -GREEN;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
}

.label_wifi {
    -fx-text-fill: -BLACK;
    -fx-line-spacing: -15
}

.label_bt {
    -fx-text-fill: -WHITE;
}

.label_direct {
    -fx-text-fill: -WHITE;
}