/**********************************************
                 CONSTANTS
**********************************************/

* {
    -BLACK:#38003D;
    -WHITE:#FFFFFF;

    -BLUE:#0188F3;
    -BLUE_LITE:#499FF6;

    -YELLOW:#FEC106;
    -YELLOW_LITE:#ffff33;

    -GREEN:#00B040;
    -GREEN_LITE:#58FF40;
}


/**********************************************
                  BACKGROUND
**********************************************/

.background {
    -fx-background-color: -DARK;
}

.box-wifi-in {
    -fx-background-color: -YELLOW_LITE;
    -fx-background-radius : 7;
    -fx-border-radius : 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 0);
}

.box-wifi-out {
    -fx-background-color: -YELLOW;
    -fx-background-radius : 7;
    -fx-border-radius : 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 0);
}

.box-bt-in {
    -fx-background-color: -BLUE_LITE;
    -fx-background-radius : 7;
    -fx-border-radius : 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 0);
}

.box-bt-out {
    -fx-background-color: -BLUE;
    -fx-background-radius : 7;
    -fx-border-radius : 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 0);
}

.box-direct-in {
    -fx-background-color: -YELLOW_LITE;
    -fx-background-radius : 7;
    -fx-border-radius : 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 0);
}

.box-direct-out {
    -fx-background-color: -GREEN;
    -fx-background-radius : 7;
    -fx-border-radius : 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 0);
}




.message-text-wifi {
    -fx-text-fill: -BLACK;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.message-text-bt {
    -fx-text-fill: -WHITE;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.message-text-direct {
    -fx-text-fill: -BLACK;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


.time-wifi {
    -fx-text-fill: -BLACK;
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-font-weight: regular;
}

.time-bt {
    -fx-text-fill: -WHITE;
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-font-weight: regular;
}

.time-direct {
    -fx-text-fill: -BLACK;
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-font-weight: regular;
}


