/**********************************************
                 CONSTANTS
**********************************************/

* {
    -DARK:#38003D;
    -BLUE:#04F2FF;
    -YELLOW:#EBFF00;
    -GREEN:#01FE87;
}


/**********************************************
                PROGRESS BAR
**********************************************/


.progressbar .track {
    -fx-background-color: -YELLOW;
    -fx-background-radius : 0;
    -fx-border-radius : 0;

}

.progressbar .bar {
    -fx-background-color: -DARK;
    -fx-background-radius : 0;
    -fx-border-radius : 0;
    -fx-background-insets: 3 3 4 3;

}