/**********************************************
                 CONSTANTS
**********************************************/


* {
    -BLACK:#000000;
    -WHITE:#FFFFFF;

    -BLUE:#0188F3;
    -YELLOW:#ffd800;
    -GREEN:#00B040;
}



/**********************************************
                  BACKGROUND
**********************************************/

.background {
    -fx-background-color: -BLACK;
}

.tile-yellow {
    -fx-background-color: -WHITE;
}
