/**********************************************
                 CONSTANTS
**********************************************/

* {
    -BACK:#ffffff;
    -DARK:#38003D;
    -BLUE:#0188F3;
    -YELLOW:#FFEB3B;
    -GREEN:#01FE87;
}


/**********************************************
               BLUETOOTH PART
**********************************************/

.back_bluetooth {
    -fx-background-color: -BACK;
}

.back_bluetooth:hover {
    -fx-background-color: -BLUE;
}

.label_mode {
    -fx-text-fill: -BACK;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.label_mode_moved {
    -fx-text-fill: white;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}


/**********************************************
              WIFI NETWORK PART
**********************************************/

.back_wifi_network {
    -fx-background-color: -BACK;
}

.back_wifi_network:hover {
    -fx-background-color: -YELLOW;
}

.label_wifi_network {
    -fx-text-fill: -BACK;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}


/**********************************************
              WIFI DIRECT PART
**********************************************/

.back_wifi_direct {
    -fx-background-color: -BACK;
}

.back_wifi_direct:hover {
    -fx-background-color: -GREEN;
}

.label_wifi_direct {
    -fx-text-fill: -BACK;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}
