/**********************************************
                 CONSTANTS
**********************************************/

* {
    -BLACK:#000000;
    -WHITE:#FFFFFF;

    -BLUE:#0188F3;
    -YELLOW:#ffd800;
    -GREEN:#00B040;
}

/**********************************************
                  BACKGROUND
**********************************************/

.tile-yellow {
    -fx-background-color: -WHITE;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
}

.tile-dark {
    -fx-background-color: -YELLOW;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
}

.label-yellow {
    -fx-text-fill: -BLACK;
}

.label-dark {
    -fx-text-fill: -BLACK;
}


