/**********************************************
                 CONSTANTS
**********************************************/

* {
    -BLACK:#000000;
    -WHITE:#FFFFFF;

    -BLUE:#0188F3;
    -YELLOW:#ffd800;
    -GREEN:#00B040;
}


/**********************************************
                  ELEMENTS
**********************************************/

.background {
    -fx-background-color: -WHITE;
}

.wifi-search-label {
    -fx-text-fill: -BLACK;
}

/**********************************************
                 SCROLL PANE
**********************************************/

.scroller {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroller .viewport {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroller .scroll-bar:vertical .track{
    -fx-background-color: -DARK;
    -fx-background-radius: 0em;
}

.scroller .scroll-bar:vertical .thumb {
    -fx-background-color: -YELLOW;
    -fx-border-color: -DARK;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 1em;

}

/* The increment and decrement button CSS class of scrollbar */
.scroller .scroll-bar:horizontal .increment-button ,
.scroller .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.scroller .scroll-bar:vertical .increment-button ,
.scroller .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.scroller  .scroll-bar .increment-arrow,
.scroller  .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}

