/**********************************************
                 CONSTANTS
**********************************************/

* {
    -BLACK:#000000;
    -WHITE:#FFFFFF;

    -BLUE:#0188F3;
    -YELLOW:#ffd800;
    -GREEN:#00B040;
}


/**********************************************
                INFO LABEL
**********************************************/

.info-text {
    -fx-text-fill: -BLACK;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

